
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-content {
    background-color: #ffccff;
    overflow-y: auto;
    margin-left: 20%;
    margin-right: 30%; /* Width of the explore section */
}

.container {
    margin-right: 0;
}

.nav-link {
    text-align: center;
}


.post-container {
    max-width: 600px;
    margin: 20px auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.post-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.post-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.post-username {
    font-weight: bold;
}

.post-content {
    margin-bottom: 20px;
}

.post-image {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.post-actions {
    display: flex;
    align-items: center;
}

.post-action {
    margin-right: 10px;
}

.explore-section {
    width: 30%;
    background-color: #d1b3ff;
    border-left: 1px solid #dee2e6;
    overflow-y: auto; /* Add scrollbar if content exceeds the explore section height */
    padding: 20px;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1000; /* Ensure the explore section is above the main content */
}


@media only screen and (max-width: 768px) {
    .sidebar {
        width: 10%;
    }

    .main-content {
        margin-left: 10%;
    }
}