<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add User</title>
</head>
<body>
<h1>Add New User</h1>
<form action="/api/add-user" method="post">
    <div>
        <label for="userName">User Name:</label>
        <input type="text" id="userName" name="userName" />
    </div>
    <div>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" />
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" />
    </div>
    <div>
        <button type="submit">Add User</button>
    </div>
</form>
</body>
</html>
