<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/logIn.css}"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" th:href="ikona.ico" type="image/x-icon">
    <title>Log in</title>
</head>
<body>
    <div id="logIn" class="shadow rounded">
        <div class="logo-container">
            <img src="logoNew.png" alt="Logo">
        </div>
        <h1 class="welcome-message">Witaj w StarSpace, eksploruj wszechświat z nami</h1>
        <form>
            <input type="text" id="username" name="username" placeholder="Email" class="shadow rounded">
            <input type="password" id="password" name="password" placeholder="Hasło" class="shadow rounded">
            <div class="button-container">
                <input type="submit" value="Zaloguj się" class="shadow rounded">  <!--trzeba zrobic backend-->
                <p>Nie masz konta?<br><a href="create">Stwórz już teraz!</a></p>  <!--wstawic link lub nie-->
            </div>
            <a href="forgot-password">Zapomniałeś hasła?</a> <!--wstawic link lub nie-->
        </form>
    </div>
</body>
</html>