<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/post.css}">
    <link rel="stylesheet" th:href="@{/styles.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Layout</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div th:each="post : ${posts}" class="post-card">
    <div class="post-header">
        <img th:src="@{${post.authorImage}}" alt="User Image">
        <div>
            <h5 th:text="${post.author}">Author Name</h5>
            <p th:text="${post.position}">Position</p>
            <p th:text="${post.dateTime}">Date and Time</p>
        </div>
    </div>
    <div class="post-content" th:text="${post.content}">
        Post content goes here...
    </div>
    <div class="post-footer">
        <div>
            <i class="fa fa-thumbs-up"></i><span th:text="${post.likes}">0</span>
        </div>
        <div>
            <i class="fa fa-comment"></i><span th:text="${post.comments}">0</span>
        </div>
        <div>
            <i class="fa fa-share"></i><span th:text="${post.shares}">0</span>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://use.fontawesome.com/releases/v5.15.1/js/all.js"></script>
</body>
</html>
